<!DOCTYPE html>
<html>
<head>
  <title>McGill Power Dashboard</title>
  <%= javascript_include_tag 'http://www.google.com/jsapi', 'chartkick' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='wrapper'>
  <div class='container'>
    <div class='header'>
      <ul class='nav nav-pills pull-right'>
        <li><a href='<%= root_path %>'><i class="icon-home"></i> home</a></li>
        <li><a href="<%= csv_path %>"><i class="icon-exchange"></i> machine</a></li>
        <li><a href="<%= settings_path %>"><i class="icon-gear"></i> settings</a></li>
        <% if current_user %>
          <li><%= link_to 'log out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'sign up', new_user_registration_path %></li>
          <li><%= link_to 'log in', new_user_session_path %></li>
        <% end %>
      </ul>
      <h4 class='text-muted'>mcgill power dashboard</h4>
    </div>
    <%= yield %>
    <div class='push'></div>
  </div>
</div>
<div class='container'>
  <div class='footer text-center'>
    <p>&copy; toti 2013</p>
  </div>
</div>
</body>
</html>
